<ion-modal-view cache-view="false">
    <ion-content class="backgroundAdd">
        <form>
            <div>
                <div class="buttons">
                    <img src="img/closeSch.png" ng-click="closeEvent()" class="imgAddEvent" />
                </div>
            </div>
            <div class="paddingHeader">
                <div>
                    <h3 class="addEvent-title">Add Event</h3>
                </div>

                <div class="list-addEventCtrl">
                    <span class="addTitleEvent item-input item-floating-label">
                        <span>Title Event</span>
                        <input type="text" ng-model="event.eventTitle" id="titleEventInput" placeholder="Write your Event" />
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-select item-floating-label">
                        <span>Client</span>
                        <!--<select ng-model="selectedClient" ng-options="item.clientName for item in client" ng-change="getEntity(item.clientID)"></select>-->
                        <select ng-model="event.clientId" ng-change="getEntity(event.clientId)">
                            <option ng-repeat="item in client" ng-value="{{item.clientId}}" ng-selected="item.clientId==event.clientId">{{item.clientName}}</option>
                        </select>
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-select item-floating-label">
                        <span>Contact Person</span>
                        <!--<select ng-model="selectedEntity" ng-options="item.entityName for item in entity" ng-change="getEntityDetail($index)"></select>-->
                        <select ng-model="event.entityId" ng-change="getEntityDetail(event.entityId,false)">
                            <option ng-repeat="item in entity" ng-value="{{item.entityId}}" ng-selected="item.entityId==event.entityId">{{item.entityName}}</option>
                        </select>
                    </span>
                    <hr />
                    <ion-list>
                        <ion-item id="transp" class="headerAccordion"
                                  ng-click="toggleGroup(group)"
                                  ng-class="{active: isGroupShown(group)}">
                            Contact Detail
                            <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                            &nbsp;
                        </ion-item>
                        <ion-item class="item-accordion" ng-show="isGroupShown(group)">
                            <table class="table">
                                <tr>
                                    <td>Phone1</td>
                                    <td>{{event.Phone1}}</td>
                                </tr>

                                <tr>
                                    <td>Phone2</td>
                                    <td>{{event.Phone2}}</td>
                                </tr>
                                <tr>
                                    <td>Email1</td>
                                    <td>{{event.Email1}}</td>
                                </tr>
                                <tr>
                                    <td>Email2</td>
                                    <td>{{event.Email2}}</td>
                                </tr>
                            </table>
                        </ion-item>
                        <hr>
                    </ion-list>
                    <span class="addTitleEvent">Your Comment</span>
                    <textarea rows="5" placeholder="Write Your Comment" width="100%" ng-model="event.comment"></textarea>
                    <hr />
                    <div>
                        <button class="button button-block button-outline button-light buttonLog" ng-click="takePic()">
                            <h5 class="loginButton"><b>Take Pic</b></h5>
                        </button>
                    </div>
                    <div class="imgPic">
                        <img src="{{event.imagePath}}" />
                    </div>
                    <hr />

                    <div class="buttonAddEvent">
                        <div>
                            <button class="button button-block button-outline button-light buttonLog" ng-click="saveEvent()">
                                <h5 class="loginButton"><b>Add Event</b></h5>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>

<!--<div>
    <button class="button button-block button-outline button-light buttonLog" ng-click="takePic()">
        <h5 class="loginButton"><b>Take Pic</b></h5>
    </button>
</div>
<hr />
<div class="imgPic">
    <img src="{{imagePath}}" />
</div>
<hr />-->
