<!---view>
    <ion-header-bar class="headerjudul"><p>Ganti Kata Sandi</p></ion-header-bar>

    <ion-content class="signup">
        <form>
            <label>Kata Sandi Sekarang</label>
            <span style="color:#ffdc7d" ng-show="cpform.pass.$dirty && cpform.pass.$invalid">
                <span ng-show="cpform.pass.$error.required">*is required.</span>
            </span>
            <input name="pass" type="password" ng-model="change.password" required>
            <label>Kata Sandi Baru</label>
            <span style="color:#ffdc7d" ng-show="cpform.newpass.$dirty && cpform.newpass.$invalid">
                <span ng-show="cpform.newpass.$error.required">*is required.</span>
            </span>
            <input name="newpass" type="password" ng-model="change.newpass" required>
            <label>Konfirmasi Kata Sandi Baru</label>
            <input type="password" ng-model="change.confpass">
            <button ng-disabled="cpform.pass.$dirty && cpform.pass.$invalid ||cpform.newpass.$dirty && cpform.newpass.$invalid"
                    class="button icon-right ion-chevron-right button-outline button-light" ng-click="save()">
                SIMPAN
            </button>
        </form>
    </ion-content>

</ion-view>-->