<ion-modal-view cache-view="false">

    <ion-content class="backgroundAdd">
        <form>
            <div>
                <div class="buttons">
                    <img src="img/closeSch.png" ng-click="closeEvent()" class="imgAddEvent" />
                </div>
            </div>
            <div class="paddingHeader">
                <div>
                    <h3 class="addEvent-title">Detail Event</h3>
                </div>
                <div class="list-addEvent">
                    <span class="item addTitleEvent item-input item-floating-label">
                        <span>Title Event</span>
                        <input type="text" ng-model="event.eventTitle" id="titleEventInput" placeholder="Write your Title Event" />
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-floating-label">
                        <span>Sales</span>
                        <input type="text" ng-model="event.salesName" id="titleEventInput" placeholder="Write your Title Event" />
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-floating-label">
                        <span>Date</span>
                        <input id="titleEventInput" type="datetime-local" ng-model="event.eventDate" id="timedatestart">
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-floating-label">
                        <span>Client</span>
                        <input type="text" ng-model="event.clientName" id="titleEventInput" placeholder="Write your Title Event" />
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-floating-label">
                        <span>Contact Person</span>
                        <input type="text" ng-model="event.entityName" id="titleEventInput" placeholder="Write your Title Event" />
                    </span>
                    <hr />
                    <ion-list>
                        <ion-item id="transp" class="headerAccordion"
                                  ng-click="toggleGroup(group)"
                                  ng-class="{active: isGroupShown(group)}">
                            Contact Detail
                            <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
                            &nbsp;
                        </ion-item>
                        <ion-item class="item-accordion" ng-show="isGroupShown(group)">
                            <table class="table">
                                <tr>
                                    <td>Phone1</td>
                                    <td>{{event.Phone1}}</td>
                                </tr>

                                <tr>
                                    <td>Phone2</td>
                                    <td>{{event.Phone2}}</td>
                                </tr>
                                <tr>
                                    <td>Email1</td>
                                    <td>{{event.Email1}}</td>
                                </tr>
                                <tr>
                                    <td>Email2</td>
                                    <td>{{event.Email2}}</td>
                                </tr>
                            </table>
                        </ion-item>
                        <hr>
                    </ion-list>
                                        
                    <span class="addTitleEvent">Comment</span>
                    <textarea rows="3" placeholder="Write Your Task Description" width="100%" ng-model="event.comment"></textarea>
                    <hr />
                    <div class="imgPic">
                        <img src="{{event.imagePath}}" />
                    </div>
                    <hr />
                    <!--<span class="item addTitleEvent item-input item-floating-label">
                        <span>Latitude</span>
                        <input type="text" ng-model="event.lat" id="titleEventInput" placeholder="Write your Title Event" />
                    </span>
                    <hr />
                    <span class="item addTitleEvent item-input item-floating-label">
                        <span>Longitude</span>
                        <input type="text" ng-model="event.long" id="titleEventInput" placeholder="Write your Title Event" />
                    </span>
                    <hr />-->
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
