<ion-view>
    <ion-nav-title>Profile</ion-nav-title>
    <ion-content class="profile">
        <div>
            <img src="img/profile.png" />
        </div>
        <div>
            <label>Riyaldo Rio Parakasi</label>
        </div>
        <div>
            <button class="button custom-button" ng-click="changePass()">Change Password</button>
        </div>
    </ion-content>
    <!--<ion-tabs class="tabs-top tabs-positive">
        <ion-tab icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/app/notification">
            <ion-nav-view name="tab-notif"></ion-nav-view>Notification
        </ion-tab>
        <ion-tab icon-off="keluhan-off" icon-on="keluhan-on" href="#/app/schedule">
            <ion-nav-view name="tab-schedule">Schedule</ion-nav-view>
        </ion-tab>
        <ion-tab icon-off="profile-off" icon-on="profile-on" href="#/app/profile">
            <ion-nav-view name="tab-profile">Profile</ion-nav-view>
        </ion-tab>

    </ion-tabs>-->
</ion-view>